.search-bar{
    background-color: rgba(123, 123, 151, 0.811);
    line-height: 80px;
    text-align: center;
}
.search-bar input{
    width: 60%;
    padding: 10px;
    border: 1px solid rgb(122, 117, 119);
    border-radius: 5px;
    line-height: 40px;
    font-size: 1.1rem;
    font-weight: 500;
}
.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.product-container{
    border-right: 1px solid lightblue;
    margin-left: 10%;
    margin-right: 10px;
}